.rasel{
    width:50%;
    height: 300px;
    background-color:aqua;
    overflow: hidden;
}
.mid-rasel{
    width: 10%;
    height: 60px;
    background-color:navy;
}


/* 
@media (min-width:992px) and (max-width:1199px){
    .main_one_start ul{

    }
    .main_one_start ul li{
        display:inline-block;
    }
}
@media (min-width:576px) and (max-width:991px){
    .main_one_start ul{
 display: none;
    }
    .main_one_start ul li{
        display:block;
           }
}

@media (max-width:575px){
    .main_one_start ul{
        display: none;
           }
} */
